@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200:400&display=swap');

:root {
    --bg-color: rgb(32, 29, 37);
    --writeDuration: 3s;
    --charaNumber: 9;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    overflow-x: hidden;
    color: orange;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Header */

header {
    height: 12vh;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1100px;
    position: fixed;
    width: 100vw;
    color: var(--bg-color);
    z-index: 100;
    opacity: 1;
    transition: 0.5s;
}

header div.title {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15vh 20px;
    margin-right: 10vw;
    font-weight: 400;
}

header div.title img {
    margin-right: 20px;
    height: 80px;
    width: 80px;
    mix-blend-mode: multiply;
    border-radius: 10px;
}

header nav {
    display: flex;
    justify-content: right;
}

header nav a {
    margin-left: 5vw;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

header nav a:hover {
    font-weight: 400;
}

.toggle {
    display: none;
    z-index: 101;
}

@media screen and (max-width: 420px) {
    header {
        display: none;
        width: 400px;
        height: 100vh;
        transform: translate(-320px, -100px);
    }

    header.active {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header.active div.title {
        flex-direction: column;
        width: max-content;
        padding-bottom: 0vh;
    }

    header.active div.title img {
        margin-bottom: 2vh;
        padding: 0;
    }

    header.active nav {
        flex-direction: column;
        justify-content: center;
        transform: translateX(-40px);
    }

    header.active nav a {
        margin-top: 5vh;
        display: flex;
        justify-content: center;
    }

    .toggle {
        display: block;
        position: fixed;
        top: 5vh;
        left: 5vh;
        width: 5vh;
    }

    .toggle ion-icon {
        position: absolute;
        font-size: 3em;
        background: orange;
        color: var(--bg-color);
        padding: 5px;
        border-radius: 5px;
    }

    .open {
        visibility: visible;
    }

    .close {
        visibility: hidden;
    }

    .open.active {
        visibility: hidden;
    }

    .close.active {
        visibility: visible;
    }
    
}


/* Welcome wection */

.welcome {
    padding: 45vh 0 5vh 0;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.welcome h1 {
    font-size: 10em;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    width: max-content;
    height: max-content;
    position: relative;
}

.welcome h1::before, .welcome h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.welcome h1::before {
    background: var(--bg-color);
    animation: spawn var(--writeDuration) steps(var(--charaNumber)) 2s forwards;
}

.welcome h1::after {
    width: 3px;
    background: orange;
    opacity: 0;
    border-radius: 2px;
    animation: spawn var(--writeDuration) steps(var(--charaNumber)) 2s forwards,
        erase 1s steps(var(--charaNumber)) infinite;
}

@keyframes spawn {
    to {
        left: 100%;
    }
}

@keyframes erase {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 420px) {
    .welcome {
        height: 40vh
    }

    .welcome h1 {
        font-size: 3em;
    }
}


/* Images section */

#imgs {
    padding-top: 15vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.imgs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1vw;
    height: auto;
}

.imgs-grid img {
    grid-column: span 1;
    grid-row: span 1;
    width: 25vw;
    transition: 0.3s;
}

.imgs-grid img.big {
    grid-column: span 2;
    width: 52vw;
    grid-row: span 2;
}

@media screen and (max-width: 420px) {
    #imgs {
        padding-top: 8vh;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 200;
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }

  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  .close-img {
    position: absolute;
    top: 5vh;
    right: 5vw;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }


/* Videos */

#videos {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

#videos .videos-box {
    display: flex;
    flex-direction: column;
}

#videos video {
    height: 75vh;
    padding: 2.5vh 0;
}

@media screen and (max-width: 420px) {
    #videos video {
        height: auto;
        width: 75vw;
    }
}


/* Infos */

#infos {
    display: flex;
    justify-content: center;
}

.liens-utils {
    padding: 5vh 0;
    width: 85vw;
}

.liens-utils .link {
    padding: 2vh 0;
    display: flex;
    justify-content: center;
}

.liens-utils h2 {
    padding: 3vh 0;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.liens-utils .link .in-link {
    display: inline-block;
}

.liens-utils .link a.in-link {
    padding-left: 5px;
}

.liens-utils .link .logo {
    padding-right: 7px;
}


/* Contact */

#contact {
    padding: 5vh 0;
}

#contact h2 {
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    padding: 3vh 10vw;
}

#contact form .mail-body {
    border: 5px solid orange;
    border-radius: 5px;
    margin-bottom: 2vh;
    font-size: 1.5em;
}

#contact form .mail-submit {
    width: 20vw;
    margin: 0 30vw;
    padding: 20px;
    background: orange;
    color: var(--bg-color);
    border-radius: 20px;
    font-weight: 400;
    font-size: 1.2em;
    transition: 0.4s
}

#contact form .mail-submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    #contact form .mail-submit {
        font-size: 1em;
        width: 40vw;
        margin: 0 20vw;
    }
}
